{% extends 'base.html' %}
{% block content %}

<div class="container">
    <h3 class="text-center mt-4 text-capitalize">{{ event[1].replace("_", " ") }}</h3>

    <ul class="nav justify-content-end mt-2 p-3">
        <li class="nav-item">
            <a href="{{ url_for('upcoming')}}">
                <button class="btn btn-danger">Back</button>
            </a>
        </li>
    </ul>

    <h4>Status: {{ event[-1].capitalize() }}</h4>
    {% if event[-1] == 'confirmed' %}
    <a href="{{url_for('download_list', event=event[1].lower()+event[2]+event[3])}}">
        <button class="btn btn-dark">Download List</button>
    </a>

    <a href="{{url_for('close', event=event[1].lower()+event[2]+event[3])}}">
        <button class="btn btn-danger">Close Event</button>
    </a>
    {% endif %}
    
    <hr>

    <h5>Link: <a href='http://127.0.0.1:5000/{{ event[1].lower()+event[2]+event[3]}}'>127.0.0.1:500/{{
            event[1].lower()+event[2]+event[3]}}</a> </h5>

    <hr>

    <ul class="justify-content-center nav">
        <li class="nav-item p-3">
            <a href="{{url_for('man_new_booking', event=event[1].lower()+event[2]+event[3])}}">
                <button class="btn btn-outline-info">Add</button>
            </a>
        </li>
        <li class="nav-item p-3">
            <a href="{{url_for('update', event=event[1].lower()+event[2]+event[3])}}">
                <button class="btn btn-outline-warning">Update</button>
            </a>
        </li>
        <li class="nav-item p-3">
            <a href="{{url_for('cancel_event', event=event[1].lower()+event[2]+event[3])}}">
                <button class="btn btn-outline-danger">Cancel</button>
            </a>
        </li>
    </ul>

    <hr>

    {% if records == {}%}

    <h3 class="text-center mt-4"> No bookings </h3>

    {% else %}

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col">
                    <h5>Name</h5>
                </th>
                <th scope="col">
                    <h5>Surname</h5>
                </th>
                <th scope="col">
                    <h5>E-mail</h5>
                </th>
                <th scope="col">
                    <h5>Phone</h5>
                </th>
                <th scope="col">
                    <h5>Booked spaces</h5>
                </th>
            </tr>
        </thead>

        <tbody>

            {% for record in records %}

            <tr>
                <th scope="col">{{ records[record]['fname'] }}</th>
                <th scope="col">{{ records[record]['lname'] }}</th>
                <th scope="col">{{ records[record]['email'] }}</th>
                <th scope="col">{{ records[record]['phone'] }}</th>
                <th scope="col">{{ records[record]['booking'] }}
                </th>
                <th scope="col">
                    <a href="{{ url_for('delete_booked_record', event=event[1]+event[2]+event[3], id=record)}}">
                        <button class="btn btn-danger">Delete</button>
                    </a>
                </th>
            </tr>

            {% endfor %}

        </tbody>
    </table>

    <hr>
    <ul class="nav justify-content-end mt-2 p-3">
        <li class="nav-item">
            <h5>Booked {{ booking }} out of {{ event[-3] }}</h5>
        </li>
    </ul>

    {% endif %}
</div>
{% endblock %}